version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      minor-bumps:
        applies-to: version-updates
        update-types:
          - minor
          - patch
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      actions:
        applies-to: version-updates
        patterns:
          - "*"
  - package-ecosystem: "opentofu"
    directory: "/infrastructure"
    schedule:
      interval: "monthly"
    groups:
      providers:
        applies-to: version-updates
        patterns:
          - "*"
