IMPLEMENTATION_PLAN.md
infrastructure/STAGED_DEPLOYMENT_PLAN.md

## File system
.DS_Store
desktop.ini

## Tool
.cargo
.claude

## Build
/debug
/target

## OpenTofu
infrastructure/.placeholder.zip
infrastructure/.terraform
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/terraform.tfvars
infrastructure/bootstrap/.terraform
infrastructure/bootstrap/*.tfstate
infrastructure/bootstrap/*.tfstate.backup
