<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>

    <body>
        <h1>Your Hacker Digest preferences have been updated</h1>
        <p>
            Your Hacker Digest subscription has been updated with a new digest
            type.
        </p>
        <p>
            Previous digest type:
            <strong>{{ old_strategy_description }}</strong>
        </p>
        <p>New digest type: <strong>{{ new_strategy_description }}</strong></p>
        <p>
            If you'd like to unsubscribe please use the unsubscribe link in any
            of your digest emails.
        </p>
    </body>
</html>
